*{
 margin: 0;
padding: 0;
}
.header{
 width: 1320px;
 height: 600px;
 position: relative;
 background-image: url("/resources/Banner\ Image.png")
}
.overlay{
 color: #FFF;

text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}