/* banner styel  = section style 1*/


 header{
  width: 80%;
  margin:auto;
  padding-top: 80px;
 }

/* google fonts */
 @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
 /* banner style first page */
header{
 width: 80%;
 margin: auto;
}
.banner-section{
background-image:linear-gradient(180deg, #0f0e10 0%, rgba(7, 2, 17, 0.00) 100%), url("../resources/Banner\ Image.png");
 font-family: 'Merriweather', serif;
 text-align: center;
 padding: 150px 200px;
 border-radius: 16px;
 color: #FFF;
background-repeat: no-repeat;
}

.banner-section h1 {
 font-size: 72px;
 font-weight: 900;
 line-height: 95px;

}

/*offer section style 2*/

.offer-section{
 margin: 100px 0px;
 font-family: "inter" , sans-serif;
 text-align: center;
}
.offer-section h2{
  color: #ff0000;
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 70px;
  }
.offer-section p{
 color: #ff0000;
 font-size: 20px;
 font-weight: 500;
}
.new-year-img h3{
  font-size: 40px;
  font-weight: 700;
}


/* Midnight Party section style 3 */

.midnight-party-section{
 width: 80%;
 margin: auto;
background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("/resources/Vectorrr.png");
background-size: 100% 100%;
background-repeat: no-repeat;
font-family: "Merriweather";
}
.midnight-party-container{
 padding: 50px 90px;
 display: flex;
 justify-content: center;
 gap: 30px;
 color: #FFF;
}
.midnight-title{
 font-size: 60px;
 font-weight: 900;
}
.midnight-description{
 color: rgba(255, 255, 255, 0.80);
font-family: "inter";
font-size: 18px;
font-weight: 400;
line-height: 30px;
}

/* Park Hotel section style 4 */

.park-hotel{
 width: 80%;
 margin:auto;
 padding-top: 80px;
 padding-bottom: 80px;
 border-radius: 20px;
 background-color: #fff8f3;
margin-top: 80px;
}
.park-hotel-title{
color:  linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
 text-align: center;
font-size: 35px;
font-weight: 700;
}
span{
 color:#ff0000; 
}
.btn{
 color: #FFF;
 font-size: 30px;
background-color: #ff0000;
font-family: "inter" , sans-serif;
padding: 20px;
}

/* Best offer 2024 section style 5 */


.best-offer-section{
 width: 80%;
 margin:auto;
 padding-top: 80px;
 justify-content: center;
 /* display: grid; */
 /* align-items: center; */
 justify-content: space-between;
 display: flex;
}
.year-title{
 color: #f00;
 font-family: "inter";
 font-size: 80px;
 font-weight: 500;
 padding: 0%;
 margin-top: 0%;
}
.best-offer-left-content{
width: 400px;
justify-content: left;
}

.picture{
width: 500px;
height: 300px;
background-color: #ff0000;
border-radius: 50%;
border: 10px solid red;
padding: 5px;
}

 /*Holyday offer sale section 5 */


 .holiday-sale{
  width: 80%;
  margin:auto;
  padding-top: 80px;
 }
 .header-function{
  color: #070211;
font-family: "Inter";
font-size: 24px;
font-weight: 500;
text-align: center;
 }
 .holiday{
 color: #F00;
text-align: center;
font-family: "Merriweather";
font-size: 75px;
font-style: normal;
font-weight: 900;

 }
 .content{
color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: "Inter";
font-size: 30px;
font-weight: 500;
line-height: 32px; 
 }
.section-gap{
gap: 0%;
 }

 

 /*  THE BEST GIFTS section style 6*/
 .Portfolio-content{
  width: 80%;
  margin:auto;
  padding-top: 80px;
 }
 .gift-content{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 32px;
 }
 .content-sale{
  padding: 100px 200px;
  margin-bottom: 10px;
 }
 

 .flex{
  padding: 20px;
font-weight: 100px;
 }

 
/* form section style */

.form-section{
width: 80%;
margin:auto;
padding-top: 80px;
width: 1320px;
height: 616px;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
justify-content: center;
display: flex;
}

.form-title{
  background-size: 140px 140px ;
color: #070211;
text-align: center;
font-family: "Merriweather";
font-size: 48px;
font-style: normal;
font-weight: 900;
text-transform: capitalize;
}
.form-description{
  color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 10px;
}